*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

ul, li {
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(100,15,165);
    font-size: 1,2rem;
    box-shadow: 3 4 4px 5px rgba(215, 209, 215, 0.005);
    padding: 5px 15px;
    height: 5px;
    width: 15px;
    background-color: rgba(200, 148, 248, 0.897);
}

