#all {
    background-origin: border-box;
    background-color: #d2d2f9;
    width: 690px;
    height: 275px;
    padding: 25px 30px;
}

#hinh1 {
    float: left;
    width: 141px;
}

#pink{
    background-origin: border-box;
    background-color:#cc0066;
    width: 140px;
    height: 90px;
    margin-bottom: 14px;
}

#orange{
    background-origin: border-box;
    background-color:#e65c00;
    width: 140px;
    height: 170px;
}

#hinh2{
    float: left;
    width: 290px;
    margin-left: 11px;
}
#row {
    display: flex;
}

#green1 {
    background-origin: border-box;
    background-color:#1fada6;
    width: 204px;
    height: 90px;
    margin-right: 11px;
}

#green2 {
    background-origin: border-box;
    background-color:#33995f;
    width: 75px;
    height: 90px;
}

#lightorange {
    background-origin: border-box;
    background-color:#ff8f66;
    width: 290px;
    height: 170px;
    margin-top: 14px;
}

#hinh3 {
    float: left;
    background-origin: border-box;
    background-color:#0099cc;
    width: 80px;
    height: 275px;
    margin-left: 11px;
}

#hinh4 {
    float: left;
    background-origin: border-box;
    background-color:#007399;
    width: 118px;
    height: 275px;
    margin-left: 11px;
}

#hinh5 {
    float: right;
    background-origin: border-box;
    background-color:#4dd2ff;
    width: 15px;
    height: 275px;
}